main{
    padding: 0 5%;
}

mat-form-field {
    width:100% !important;
}

.back{
    color: green;
    text-decoration: underline;
    margin-top: 1rem;
    cursor: pointer;
}

.table-container{
    overflow-x: scroll;
}