<main>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Healthy Option</span>
    <span class="spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

  <div class="content">
    <input 
    placeholder="Barcode" 
    name="text" 
    type="text" 
    class="input_field"
    #inputBarcode
    [(ngModel)]="inputbarcode"
    (ngModelChange)="check($event)"
  >
  
    <div class="details" *ngIf="isError; else notFound">
      <p>{{ item_desc }}</p>
      <p>{{ price }} {{ currency }}</p>
    </div>
        
    <ng-template #notFound>
      <p class="not-found">Not Found</p>
    </ng-template>
  </div>

  <div class="print">
    <button mat-stroked-button [disabled]="!printVisible" (click)="printData()">Print</button>
  </div>

  <p class="check" routerLink="/updated-data">check updated data</p>
</main>